/* Feuille de style - Correspond à la charte graphique du site */

/* style par défaut */

body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size:small;
color: rgb(91, 116, 116);
background-color:#fff;
text-align: center;
color:#707070;
}

h1 {
    margin-top:15px;
    margin-bottom:5px;
    text-align:center;
}

/* style sur balise */
h2 {
    font-size: 1.5em;
    font-weight: bolder;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

img {
    margin-bottom: 0px;
    border:none;
}

nav {
    margin-bottom: 25px;
    font-size:medium;
}


/* style par défaut des liens hypertexte de tout le site */

a { color:#c0c0c0; text-decoration: underline; text-transform: none; }
a:hover { color:#000; text-decoration: underline; text-transform: none; }


/*----------------------------------------------------------------------*/

/* classe de style sur conteneur */
#principal {
width:75%;
margin-left: auto;
margin-right: auto;
}

#burger {
           display:none;
            }

/* divers class */


/*----------------------------------------------------------------------*/
/* smathphone */
 @media screen and (max-width:800px) {

            #burger {
                display:inline;
                margin-left: 25px;
            }
             #sousmenu {
                display:none;
             }

        }


/*----------------------------------------------------------------------*/
/* Les 4 div en bas de la page*/

        #flex-conteneur{
            display: flex;
            flex-direction: row ;
            flex-wrap: wrap; /* retour à la ligne wrap ou nowrap */
            justify-content: space-around; /* flex-start ou flex-end ou space-between */
            margin-top: 50px;
        }
        
        #flex-conteneur div {
            width:250px;
            margin-bottom: 10px;
        }

        #flex-conteneur img {
            width:100px;
            margin-bottom: 0px;
            margin-top: 20px;
        }
        
